#adminbody { padding-top: 30px; }

#all-products .thumbnail {
  min-height: 500px;
  max-height: 500px;
  overflow: scroll;
}

.price {
  color: #B0171F;
}

#productCarousel .item img {
  margin: auto;
}
