#adminbody { padding-top: 70px; }

.price {
  color: #B0171F;
}

#storebody {
  background-color: rgb(153, 102, 102);
}

#storebody .mainnav{
  background-color: rgb(102, 51, 51);
  border-color: rgb(102, 51, 51);
}

#storebody.tire {
  background-color: rgba(175,145,157,0.8);
}
